<div>
  <img class="responsive" src="assets\20493599.jpg">

</div>
<div class="bg-text">
  <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">Welcome to MovieApp</h1>
  <h1 style="font-size:50px; font-family: Georgia, 'Times New Roman', Times, serif;">Unlimited movies, TV</h1>
  <h1 style="font-size:50px; font-family: Georgia, 'Times New Roman', Times, serif;"> shows and more</h1>

  <button type="button" class="btn"  [routerLink]="['/signin']">Sign in</button>
</div>

<!-- <section class="background-radial-gradient overflow-hidden">

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          <br />
          <span style="color: hsl(218, 81%, 75%)"> Watch Your favourites movies all in one place</span>
        </h1>

      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">



        <mat-grid-list cols="2" rowHeight="4:4">
          <mat-grid-tile><img class="image2" src="assets\card1.jpg"></mat-grid-tile>
          <mat-grid-tile><img class="image2" src="assets\card2.jpg"></mat-grid-tile>
          <mat-grid-tile><img class="image2" src="assets\card3.jpg"></mat-grid-tile>
          <mat-grid-tile><img class="image2" src="assets\card4.jpg"></mat-grid-tile>
        </mat-grid-list>

      </div>
    </div>
  </div>
</section> -->