<div>
  <img class="responsive" src="assets\20493599.jpg">

</div>
<div class="bg-text">
  <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">Welcome to MovieApp</h1>
  <h1 style="font-size:50px; font-family: Georgia, 'Times New Roman', Times, serif;">Unlimited movies, TV</h1>
  <h1 style="font-size:50px; font-family: Georgia, 'Times New Roman', Times, serif;"> shows and more</h1>

  <button type="button" class="btn"  [routerLink]="['/signin']">Sign in</button>
</div>

