<section class="background-radial-gradient overflow-hidden">

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Welcome Back! <br />
                    <span style="color: hsl(218, 81%, 75%)">Watch Latest Trending Movies</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Login with your email and password <br>to watch your favourite movies
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <h2 class="fw-bold mb-2 text-uppercase" style="font-size: xx-large;">Login</h2>
                        <br><br><br>
        <form [formGroup]="login" (ngSubmit)="signin()">



                            <!-- Email input -->
                            <div class="form-outline mb-4">
                <input type="text" name="email" id="email" class="form-control" placeholder="email" formControlName="email">



                            </div>
                            <br>
                            <!-- Password input -->
                            <div class="form-outline mb-4">
                <input type="password" name="password" id="pwd" class="form-control" placeholder="Password" formControlName="password">
                                   

                            </div>

                            <div class="group">
                                <input id="check" type="checkbox" class="check" checked>
                                <label for="check"><span class="icon"></span> Keep me Signed in</label>
                            </div>

                            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" style=" margin-left: 4px; width: 100%; ">Login</button>

                


                        </form>
                        <h3>Don't have an account <a [routerLink]="['/signup']">Signup</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
