<section class="background-radial-gradient overflow-hidden">


    <div class="wrapper">


        <div class="text-center mt-4 name">
            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
            <!-- <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div> -->
        </div>
        <br><br>
        <form [formGroup]="login" (ngSubmit)="signin()">
            <div class="form-field d-flex align-items-center">
                <!-- <span class="far fa-user"></span> -->
                <input type="text" name="email" id="email" placeholder="email" formControlName="email">
            </div>
            
            <div class="form-field d-flex align-items-center">
                <!-- <span class="fas fa-key"></span> -->
                <input type="password" name="password" id="pwd" placeholder="Password" formControlName="password">
            </div>
            <br><br>

            <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
        </form>
        <div class="text-center fs-6">
            <a href="#">Forget password?</a> or <a [routerLink]="['/signup']">Sign up</a>
        </div>
    </div>

</section>