<nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <h2 class="navbar-brand" routerLink="">Movie App</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="movie">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin-user">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="notification">Notification</a>
        </li>
        <li class="nav-item">
          <button class="btn" style="background-color: #dd3675; margin: 3px;" routerLink="login">Login</button>
        </li>
        
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group">
            <input type="search" placeholder="Search Movies...." routerLink="search" class="form-control border-0 bg-transparent">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>

            </div>
          </div>
        </div>
        
   
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="search">Search</a>
        </li> -->
      
    
        <!-- <div class="search-box">
          <input type="text" placeholder="Search">
          <mat-icon>search</mat-icon>
        </div> -->
       
        <!-- <mat-icon matTooltip="Manage profile">person</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu> -->
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
