.navbar .navbar-brand
{
    color: #dd3675;
font-weight: bold;
}

.navbar-nav .nav-item .nav-link{
    color: #dd3675;
    font-size: large;
    padding: 20px;
/* justify-content: space-between; */
}
button{
    font-size: large;
    padding: 15px;  
}
/* .search-box {
    border: 1px solid white;
    padding: 2px 4px;
    border-radius: 25px;
} */
mat-icon  {
    /* margin-right: 4px; */
    color: #dd3675;
    padding: 4px ;

}
input,i{
    color: #dd3675;
    /* margin-top: none; */
}
/* .search-box input {
    top: 0;
    width: 200px;
    border: 0;
    outline: 0;
    color: white;
    background: transparent;
} */
.input-group{
    height: 30px;
}
.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  } 
 
/* body {
    background: #ffd89b;
    background: -webkit-linear-gradient(to right, #ffd89b, #19547b);
    background: linear-gradient(to right, #ffd89b, #19547b);
    min-height: 100vh;
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  } */

