<!-- <nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <h1 class="navbar-brand display-1" routerLink="">Movie App</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="movie">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin-user">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="notification">Notification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user-favourite">favourite</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline" style="color: #dd3675; " routerLink="login">Login</button>

        </li>
        
        <li>
          <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search" routerLink="search"></i></button>

        </li>
        <li>
         
          <img [src]="'http://34.83.1.21/api/v1/image' | imageAuth | async" /> 

        </li>
        
       
   
      </ul>
    </div>
  </div>
</nav> -->
<div class="container-fluid g-0">
<app-navbar (sideNavToggled)="sideNavStatus = $event;"></app-navbar>

<main>
  <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="
  {'app-sidenav-open':sideNavStatus}"></app-sidenav>

  <div class="display-area"  [ngClass]="
  {'display-area-shrink':sideNavStatus}">
  <router-outlet></router-outlet>
  </div>
</main>
<app-footer></app-footer>
</div>
